<div class="container-fluid">
    <div class="row dash-top pl-3">
        <div class="col-md-6 text-white pb-5 pl-5">
            <h2 class="font-weight-bold pt-5">Trade Your Way to Freedom</h2>
            <p>Welcome to your dashboard</p>
            <p>Please browse through our catalogue of courses and start learning</p>
        </div>
    </div>
    <div class="container">
        <div id="forex-channel"></div>
        <div id="forex-videos" class="row"></div>
    </div>
</div>
