<div class="container-fluid">
    <div class="row dash-top pl-3">
        <div class="col-md-6 text-white pb-5 pl-5">
            <h2 class="font-weight-bold pt-5">Trade Your Way to Freedom</h2>
            <p>Join our Forex class, build skills to scale you up to freedom</p>
            <p>You are covered at your own pace, anywhere and anytime...</p>
            <a href="/user/registration" class="btn btn-primary btn-xl">Get Started</a>
        </div>
    </div>
    <div id="forex-playlist">

    </div>
</div>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
<script src="https://apis.google.com/js/api.js"></script>