<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <span class="text-center" style="font-size: 3em;">
        <i class="fas fa-chalkboard"></i> Login
      </span>
      <form action="/user/loginUser" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="{{email}}"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="{{password}}"
          />
        </div>
        
        <button type="submit" class="btn btn-primary btn-block">
          Login
        </button>
      </form>
    </div>
  </div>
</div>